*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.font-open-sans {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section{
    padding-top: 130px;
}
.container{
    width: 71%;
    /* max-width: 1140px; */
    margin: 0 auto;
}
 p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.section_heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

    h2{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        margin-bottom: 30px;
        color: #757575;
    }
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu{
        list-style: none;
        display: flex;
        gap: 51px;
        align-items: center;

        a{
            text-decoration: none;
            font-size: 20px;
            color: #474747;
        }
    }
}

.banner{
    margin: 47px 2.5% 0 14.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner_content{
        max-width: 585px;
        h2{
            font-size: 45px;
            font-weight: 600;
            color: #474747;
            margin-bottom: 5px;
        }
        h1{
            font-size: 85px;
            font-weight: bold;
            color: #181818;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            color: #757575;
            line-height: 30px;
            margin-bottom: 30px;
        }
    }
    .banner_image{
        img{
            max-width: 585px;
            vertical-align: middle;
        }
    }
}

.about{

    .about_container{
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 156px;
    }

    .about_info{
        display: flex;
        justify-content: space-around;
        gap: 22px;

        .info_card{
            p{
                font-size: 20px;
                line-height: 30px;
                color: #757575;
            }
            h4{
                font-size: 20px;
            }
        }
    }
}
.skills{

    .skill_container{
        background-color: #FFFFFF;
    }

    .skill_boxes{
        display: flex;
        justify-content: space-around;
        gap: 22px;

        .skill_card{
            max-width: 267px;
            padding: 30px;
            box-shadow: 0 6px 50px 0 #00000027;
            img{
                max-width: 44px;
                margin-bottom: 30px;
            }
            h3{
                font-size: 20px;
                color: #181818;
                margin-bottom: 20px;
            }
            p{
                color: #757575;
            }
        }
    }
}


.section_titile{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.card_title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card_info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.card_text{
    color: #757575;
}
.resume_card{
    /* max-width: 511px; */
    margin-right: 47px;

}
.text_center{
    text-align: center;
}
.resume{
    
    .resume_container{
        margin-top: 100px;
        background-color: #FFFFFF;
        display: flex;
        gap: 22px;

        hr{
            margin: 30px 0;
        }
    }
    .text_center{
        margin-top: 30px;
    }
}

.footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;

    .footer_container{
        display: flex;
        gap: 116px;

        h2{
            font-size: 35px;
            margin-bottom: 20px;
            color: #181811;
        }
        .social{
            max-width: 562px;

            p{
                color: #474747;
                margin-bottom: 30px;
            }
            .icons{
                a{
                    margin-right: 24px;
                }
            }
        }

        form{
            input[type="text"], input[type="email"], textarea{
                width: 461px;
                padding: 18px 31px;
                margin-bottom: 24px;
                border: none;
                border-radius: 5px;
                color: #757575;
            }
        }
    }
}